@{
    ViewData["Title"] = "Home Page";
}

<div class="bgImageHome">
    <div class="mainCaption border-1">
        <h1 class="display-3 text-capitalize letterSpacing">Welcome to Web Pizzeria</h1>
        <h2 class="letterSpacing">Web Pizzeria, is pizza for you and experience for me !!!</h2>

        <a class="btn btn-secondary mt-1" asp-area="" asp-controller="Pizza" asp-action="Index">MAKE AN ORDER!</a>
    </div>
</div>
